* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #0b0b0b;
	color: #999;
}

h1,
h2,
h3 {
	margin: 0;
}

header,
section,
footer,
nav,
article {
	display: block;
}

ul {
	list-style: none;
}

ul li {
	display: inline;
}
/*
 *
 * Navigation
 *
 */

.logo {
	height: 35px;
	vertical-align: top;
	width: auto;
}

/*
   *
   * Header
   *
   */

.header {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	min-height: 40px;
	transition: min-height 0.3s;
}

hr {
	color: white;
}

/* Mobile styles */
@media screen and (max-width: 412px) {
	.h2_style {
		font: 1em Georgia;
	}

	.h3_style {
		font: 0.75em Georgia;
	}

	.nav_menu {
		font-size: 0.75em;
	}

	.flower_text {
		font: 1.0em "Comic Sans MS";
	}

	.featured_text {
		font: 1.0em "Comic Sans MS";
		color: #fff;
		padding-bottom: 10px;
	}

	/*
     *
     * Footer
     *
     */

	footer {
		background-color: #555;
		color: #fff;
		text-align: center;
	}

	footer a {
		color: #70726f;
		font-size: 4px;
		padding: 2px;
		border-right: 1px solid #70726f;
		transition: all 0.5s ease;
	}

	.fa {
		padding: 4px;
		font-size: 8px;
		width: 20px;
		text-align: center;
		text-decoration: none;
		margin: 2px 2px;
		border-radius: 50%;
	}

	footer p {
		text-align: center;
		font-size: 2.5vw;
	}
}

/* Tablet styles */
@media screen and (min-width: 768px) {

	.h2_style {
		font: 1.5em Georgia;
	}

	.h3_style {
		font: 1em Georgia;
	}

	.nav_menu {
		font-size: 1em;
	}

	.flower_text {
		font: 2.0em "Comic Sans MS";
	}

	.featured_text {
		font: 1.5em "Comic Sans MS";
		color: #fff;
		padding-bottom: 10px;
	}

	/*
     *
     * Footer
     *
     */

	footer {
		background-color: #555;
		color: #fff;
		padding: 10px 0;
		text-align: center;
	}

	footer a {
		color: #70726f;
		font-size: 20px;
		padding: 10px;
		border-right: 1px solid #70726f;
		transition: all 0.5s ease;
	}

	.fa {
		padding: 8px;
		font-size: 12px;
		width: 30px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
		border-radius: 50%;
	}

	footer p {
		text-align: center;
		font-size: 1.2vw;
	}
}

/* Desktop styles */
@media screen and (min-width: 1200px) {

	footer p {
		text-align: center;
		font-size: 0.9vw;
	}
}

/*
 *
 * Flower Text
 *
 */

.jumbotron {
	padding-top: 20%;
	padding-bottom: 30%;
	text-align: center;
	text-decoration-color: black;
	font-weight: bold;
	font-style: italic;
	text-shadow: 2px 2px 4px black, 0 0 25px red, 0 0 5px darkblue;
}

.changing_flower {
	background-image: url(../images/flower_color.jpg);
	background-size: 100%;
}

/*
   *
   * Featured Work
   *
   */

.feature_header {
	background-color: #555;
}

img-thumbnail img {
	width: 100%;
}

.featured_section {
	margin-bottom: 4px;
}

.featured_work_button {
	text-align: center;
	padding-top: 4px;
}

/*
	 *
	 * Footer
	 *
	 */
footer a:hover {
	color: white;
}

.footer_div {
 height: 60px;
}

/*
   *
   * Social icons
   *
   */

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3b5998;
	color: white;
}

.fa-twitter {
	background: #55acee;
	color: white;
}

.fa-google-plus {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}
